<!--Aqui entramos cuando ponemos Ver mas-->
<h1 class="animated fadeIn">{{departamento.nombre | uppercase}}</h1>
<hr>
<div class="row animated fadeIn fast">
    <div class="col-md-4">
        <p-carousel [value]="departamento.img" [autoplayInterval]="3000" [circular]="true">
            <ng-template let-img pTemplate="item">
              <img [src]="img" class="card-img-top" width="100" height="150"> 
            </ng-template>
          </p-carousel>
        <br><br>
        <a [routerLink]="['/departamentos']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
    <div class="col-md-8">
        <h3>{{departamento.nombre}}</h3>
        <hr>
        <p>
            {{departamento.descripcion}}
        </p>
    </div>
</div>